PORT=4177

MANFEI_API_BASE=
MANFEI_API_TOKEN=

TOS_ACCESS_KEY_ID=
TOS_SECRET_ACCESS_KEY=
TOS_REGION=cn-beijing
TOS_ENDPOINT=tos-cn-beijing.volces.com
TOS_BUCKET=
TOS_UPLOAD_PREFIX=manfei-assets/20260605
TOS_SIGNED_URL_EXPIRES=604800

RUNNINGHUB_API_KEY=
RUNNINGHUB_API_BASE=https://www.runninghub.cn/openapi/v2
RUNNINGHUB_SUBTITLE_ERASE_ENDPOINT=/volc-subtitle-erase-pro/video
RUNNINGHUB_SUBTITLE_ERASE_TYPE=subtitle
RUNNINGHUB_SUBTITLE_ENCODE_MODE=size
RUNNINGHUB_VIDEO_UPSCALER_ENDPOINT=/rhart-video/video-upscaler
RUNNINGHUB_VIDEO_UPSCALER_RESOLUTION=720p

APP_USERNAME=manfei
APP_PASSWORD=
