PORT=4177

MANFEI_API_BASE=
MANFEI_API_TOKEN=

TOS_ACCESS_KEY_ID=
TOS_SECRET_ACCESS_KEY=
TOS_REGION=cn-beijing
TOS_ENDPOINT=tos-cn-beijing.volces.com
TOS_BUCKET=
TOS_UPLOAD_PREFIX=manfei-assets/20260605
TOS_SIGNED_URL_EXPIRES=604800

APP_USERNAME=manfei
APP_PASSWORD=

